* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #212529;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: #ffb742;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.navbar ul li:hover a {
  color: #ffb742;
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire {
  background-color: #ffb742;
  padding: 6px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.hire:hover {
  color: #fb8c00;
}

.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img {
  width: 650px;
  height: 300px;
  margin-top: 80px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.main h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.main p.title {
  font-size: 37px;
  font-weight: 600;
  color: #fff;
  margin-top: 0px;
}

.main p.subtitle {
  font-size: 15px;
  color: #ccc;
  margin-top: 20px;
}

.main h4 span {
  color: #ffb742;
}

.guarantee {
  margin-top: 50px;
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.guarantee .item {
  background-color: #292b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0 30px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.guarantee .item:hover {
  border-color: #ffb742;
}

.guarantee .item .icon {
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.guarantee .item .icon:hover {
  background-color: #ffb742;
  border-color: aqua;
}

.guarantee .item .icon i {
  font-size: 30px;
}

.guarantee .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guarantee .item .info h3 {
  color: #ffb742;
  font-size: 20px;
}

.guarantee .item .info p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.guarantee .item > i {
  color: #fff;
}

.guarantee .item > i:hover {
  color: #ffb742;
}

.seprator {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: #ffb742;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}

.about img {
  width: 280px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about .info h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .info p {
  color: #ccc;
  font-size: 14px;
}

.skills {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.skills .left {
  width: 680px;
}

.skills .left .info h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

.skills .left .info p {
  color: #ccc;
  font-size: 14px;
}

.skills .right {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skills .right .item {
  display: flex;
  background-color: #383e45;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.skills .right i {
  font-size: 34px;
  color: #fff;
}

footer {
  position: relative;
  background-color: #1c1c1c;
  padding: 80px 50px 40px;
  margin-top: 100px;
}

footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #ffb742;
  padding: 30px 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 70%;
  top: -16%;
  left: 15%;
}

footer .start p {
  font-size: 13px;
  width: 35%;
}

footer .start button {
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 0.3 ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
}

footer .start button:hover {
  background-color: white;
  border: #fff;
}

footer .cols {
  display: flex;
  align-items: start;
}

footer .cols .about-cols {
  flex: 3;
}

footer .cols .about-cols h3 {
  color: #ffb742;
  margin-bottom: 20px;
}

footer .cols .about-cols p {
  color: #ccc;
  font-size: 13px;
}

footer .cols .links {
  flex: 3;
}

footer .cols .links h4,
footer .cols .news-col h4 {
  color: #fff;
  margin-bottom: 20px;
}

footer .cols .links a {
  display: block;
  text-decoration: none;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 26px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

footer .cols .links a:hover {
  color: #ffb742;
}

footer .cols .links h4{
  color: #ffb742;
}

@media screen and (max-width: 1100px) {
  .guarantee {
    flex-wrap: wrap;
    gap: 10px;
  }

  .skills {
    justify-content: space-between;
    gap: 20px;
  }

  .skills .left {
    width: 500px;
  }

  .skills .left .info h3 {
    font-size: 22px;
  }

  .skills .left .info p {
    font-size: 12px;
  }

  footer {
    margin-top: 150px;
  }

  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }

  footer .cols .about-cols {
    flex-basis: 50%;
  }

  footer .cols .links {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 780px) {
  .navbar button {
    display: none;
  }

  .main h4 {
    font-size: 24px;
  }

  .main p.title {
    font-size: 30px;
  }

  .main p.subtitle {
    font-size: 12px;
  }
  .guarantee .item {
    flex-basis: 100%;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills {
    flex-wrap: wrap;
  }

  .skills .left .info p {
    font-size: 12px;
  }

  .skills .right {
    margin-top: 20px;
  }
  
}

@media screen and (max-width: 700px) {
  .navbar h2 {
    display: none;
  }
  .navbar {
    align-items: center;
    justify-content: center;
  }

  .main img {
    width: 50%;
    height: 30%;
  }

  .skills {
    flex-wrap: wrap;
  }

  .skills .left .info p {
    font-size: 15px;
  }

  footer .start {
    top: -7%;
  }

  footer .start p {
    display: none;
  }

  footer h4 {
    font-size: 11px;
  }

  footer .links {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  footer .cols{
    flex-wrap: wrap;
  }

  footer .cols .about-cols{
    margin-bottom: 20px;
  }

  footer .cols .links h4{
    font-size: 17px;
  }

}

@media screen and (max-width: 550px) {
  .navbar h2 {
    display: none;
  }
  .navbar {
    align-items: center;
    justify-content: center;
  }

  .navbar ul{
    gap: 1px;

  }

  .navbar ul li a{
    font-size: 12px;
  }

  .main h4{
    font-size: 18px;
  }

  .main img {
    width: 400px;
    height: 200px;
  }

  .main p.title{
    font-size: 18px;
  }

  .main p.subtitle{
    font-size: 9px;
  }

  .guarantee .item .info p{
    font-size: 11px;
  }

  .about .info h3{
    font-size: 20px;
  }

  .about .info p{
    font-size: 10px;
  }
  .skills {
    flex-wrap: wrap;
  }

  .skills .left .info h3{
    font-size: 15px;
  }

  .skills .left .info p {
    font-size: 10px;
  }

  .skills .right .item i{
    font-size: 15px;
  }

  .skills .right .item{
    width: 40px;
    height: 40px;
  }

  footer .start {
    top: -7%;
  }

  footer .start p {
    display: none;
  }

  footer .cols .links a{
    font-size: 10px;
  }

  footer .links {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  footer .cols{
    flex-wrap: wrap;
  }

  footer .cols .about-cols{
    margin-bottom: 20px;
  }

  footer .cols .links h4{
    font-size: 15px;
  }

}
